


h1,h3{
    text-align: center;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

p{
    color: red;
    font-family:'Courier New', Courier, monospace;
}

th{
    color: red;
    font-family:'Courier New', Courier, monospace;  
    align-items: start;  
}

td{
    align-items: center;
}

.container{
    display: flex;
    flex-flow: row;
    height: 70vh;
    margin: 0dvh 5dvh 0dvh 5dvh;
}

.containerBoxes{
    flex-grow: 1;
    border: solid;
    border-width: 2px;
    border-color: red;
    display: flex;
    flex-flow: column;
    margin: 0.5dvh;
}

.column{
    display: flex;
    flex-flow: column;
    margin: 1%;
    overflow: auto;
    flex-grow: 1;
}

.row{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    
    
}

input{
    align-self: auto;
    margin: 5px;
    flex-grow: 3;
    color: red;
    border: solid;
    border-width: 2px;
    border-color: red;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

button{
    position: relative;
    margin: 5px;
    border-radius: 0;
    color: white;
    background-color: red;
    border: solid;
    border-color: red;
    border-width: 2px;
    font-family:'Courier New', Courier, monospace;

}

button:active{
    color: red;
    background-color: white;
    top: 2px;
}

button:hover{
    color: red;
    background-color: white;
}





